{% extends "layout.html" %}

{% block content %}

<!-- Carousel -->
<div id="demo" class="carousel slide mb-5" data-bs-ride="carousel">
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="upcolor position-absolute d-flex justify-content-center align-items-center"><h1 class="text-white mb-5 pb-5">Contact</h1></div>
      <img src="static/images/hero.jpg" alt="Los Angeles" class="d-block position-relative downcolor" style="width:100%">
    </div>
  </div>
</div>

<!-- contact part -->
<div class="container mb-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-2 scrol-left">
      <form method="post" autocomplete="off">
        {% csrf_token %}
        <h3 class="text-white">Contact Us</h3>
        <center><p class="text-white text-decoration-underline fs-5">{{msg}}</p></center>
        <div class="row text-white">
          <div class="col-12 mb-3">
            <label for="">Name:</label>
            <input class="form-control" type="text" placeholder="Enter name" name="name" pattern="[a-zA-Z]{2,50}" title="Only aphabets are allowed" required>
          </div>
          <div class="col-12 mb-3">
            <label for="">Email:</label>
            <input class="form-control" type="email" placeholder="Enter emailid" name="email" required>
          </div>
          <div class="col-12 mb-3">
            <label for="">Subject:</label>
            <select class="form-select" name="subject" required>
              <option value="">select type</option>
              <option value="Custom Beat">Custom Beat</option>
              <option value="Mixing">Mixing</option>
              <option value="Collaboration">Collaboration</option>
              <option value="General Inquiry">General Inquiry</option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <label for="">Message:</label>
            <textarea name="textbox" class="form-control" placeholder="Enter your message here" rows="10"></textarea>
          </div>
          <div class="col-12">
            <center>
              <button class="btn btn-success" type="submit">Submit</button>
              <button class="btn btn-warning" type="reset">Cancle</button>
            </center>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 mb-2 ps-5 mt-4 scrol-right">
      <center><h3 class="text-white">Get in Touch</h3></center>
      <div class="text-secondary mt-5">
        <div>Have a project in mind? Let's talk music.</div>
        <div>Whether you're looking for a custom beat, want to collaborate, or need help with mixing and mastering.</div>
        <div>I'm here to help you bring your sound to life.</div>
      </div>
      <h3 class="mt-5 text-white">Contact Details:</h3>
      <div class="text-secondary">
        <div>Email: dsumeetsumeet@gmail.com</div>
        <div>Instagram: prodbysk_beatz</div>
        <div>Phone / WhatsApp: 7338432110, 7259876605</div>
      </div>

      <h3 class="text-white mt-5">Let's Connect</h3>
      <div class="text-white">You can also reach out via social media or DM me directly for quick responses:</div>
      <div class="text-white d-flex gap-4 fs-4 mt-3">
        <div><i class="fa-brands fa-whatsapp"></i></div>
        <div><a class="text-white" target="_blank" href="https://www.youtube.com/@skbeatz56"><i class="fa-brands fa-youtube"></i></a></div>
        <div><a class="text-white" target="_blank" href="https://www.instagram.com/prodbysk_beatz/?igsh=YjNtZXY5ZTY4enY0"><i class="fa-brands fa-instagram"></i></a></div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}