.size{
    height: 70px;
}

@media only screen and (max-width:576px){
    .size{
        height: 30px;
    }
}

.font_style{
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hover_effect:hover{
    text-shadow: 1px 1px 2px black,white,white;
    font-size: 20px;
}

.hover_effect{
    padding: 20px;
    transition-property: text-shadow,font-size;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.topper{
    z-index: 2;
    width: 100%;
}

.upcolor{
    height: 900px;
    width: 100%;
    z-index: 1;
    background-color: #0c1844b9;
}

.downcolor{
    z-index: 0;
}

.head_font_style{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 0px 2px black, 0 0 40px rgba(0, 0, 255, 0.764);
}

.box_design{
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 255, 0.764);
}

.box_design_up .box_design_down{
    filter: blur(3px);
}

.box_design_up:hover .box_design_down{
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 255, 0.764);
    cursor: pointer;
    transform: rotate(0deg);
    transform: scale(1.1,1.1);
    filter: blur(0);
    z-index: 1;
}


.box_design_up .middle{
    transform: translatey(20px);
    opacity: 0;
}

.box_design_up:hover .middle{
    opacity: 1;
    transform: translateY(0px);
}

.box_design_down,.middle{
    transition-property: box-shadow,transform,opacity;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.slider{
    width: 800px;
    animation-name: move;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 2));
    }
}

.artist-img{
    border-radius: 50%;
}

.outer1{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border-left: 4px solid white;
    animation-name: clock;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes clock{
    from{rotate: 0deg;}
    to{rotate: 360deg;}
}

.outer2{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border-right: 4px solid white;
    animation-name: anticlock;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes anticlock{
    from{rotate: 0deg;}
    to{rotate: -360deg;}
}

.big-hover:hover{
    transform: scale(1.1,1.1);
}

.big-hover{
    transition-property: transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.infield{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.color{
    background-color: #05071A;
}

.text-color{
    color: #FFFFFF;
}