{% extends "admin_layout.html" %}

{% block admin %}

<center><h1 class="mt-5 text-decoration-underline">About page Content</h1></center>

<center><h3 class="mt-5">About SK BEATZ Part</h3></center>
<p>{{msg}}</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            {% for i in data_about %}
            <img class="img-fluid" src="media/{{i.image}}" alt="image">
            <form action="delete_about" method="post">
                {% csrf_token %}
                <input type="hidden" name="img" value={{i.id}}>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            {% endfor %}
        </div>
    </div>
    <form action="about_page" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 mt-5">
            <label for="">Upload photo</label>
            <input class="form-control" type="file" name="file"><br>
            <input class="btn btn-primary" type="submit">
        </div>
        </form>
    </div>
</div>


{% endblock admin %}