{% extends 'admin_layout.html' %}

{% block admin %}


<div class="container">
    <div class="row">
        <center><h1 class=" text-decoration-underline my-5 head">Contact messages</h1></center>
        <p class="text-white">{{msg}}</p>
        <table class="table table-striped table-hover table-bordered from">
            <thead class="table-dark">
                <tr>
                    <th>Id:</th>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>Subject:</th>
                    <th>Message:</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-dark">
                {% for d in contact_list %}
                
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td>{{d.email}}</td>
                    <td>{{d.subject}}</td>
                    <td>{{d.message}}</td>
                    <td class="d-flex">
                        <form action="delete_contact" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="contactid" value="{{d.id}}">
                            <button class="btn btn-danger me-2" type="submit"><i class="fa-regular fa-circle-xmark"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}