{% extends "admin_layout.html" %}



{% block admin %}

<center><h1 class="mt-5 text-decoration-underline">Home page Content</h1></center>

<center><h3 class="mt-5">About SK BEATZ Part</h3></center>
<p>{{msg}}</p>
<div class="container">
    <div class="row">
        <div class="col-3">
            {% for i in data %}
            <img class="img-fluid mb-3" src="media/{{i.image}}" alt="image">
            <form action="delete_img" method="post">
                {% csrf_token %}
                <input type="hidden" name="img" value={{i.id}}>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
            {% endfor %}
        </div>
    </div>
    <form action="admin_home_page" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 mt-5">
            <label for="">Upload photo</label>
            <input class="form-control" type="file" name="file"><br>
            <input class="btn btn-primary" type="submit">
        </div>
        </form>
        <hr>
        <center><h3 class="mt-5">My recent works part</h3></center>
        {% for d in data2 %}
        <div class="col-3 border rounded">
            <p>Id = {{d.id}}</p>
        <img class="img-fluid" src="media/{{d.img}}" alt="image">
        <p>{{d.link}}</p>
        <form action="delete_img2" method="post">
                {% csrf_token %}
                <input type="hidden" name="img" value={{d.id}}>
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
        <form action="admin_home2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6 mt-3">
                <label for="">image</label>
                <input class="form-control" type="file" name="file1"><br>
                <label for="">Link</label><br>
                <input class="form-control" type="text" name="link" placeholder="Enter link here" required><br>
                <input class="btn btn-primary" type="submit">
            </div>
        </form>
    </div>

    


</div>

{% endblock admin %}