{% extends "admin_layout.html" %}

{% block admin %}


<center><h1 class="mt-5 text-decoration-underline">Work page Content</h1></center>
<center><h3 class="my-5">SK BEATZ Part</h3></center>

<div class="container">
    <div class="row">
        {% for d in data_work %}
        
        <div class="col-3 mb-3 border rounded">
            <p>Song Id = {{d.id}}</p>
            <p>Title = {{d.title}}</p>
            <p>Artist = {{d.artist}}</p>
            <p>Audio =</p>
            <audio controls>
                <source src="media/{{d.audio_file}}" type="audio/ogg">
                <source src="media/{{d.audio_file}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <p>album_art = </p>
            <img class="img-fluid" src="media/{{d.album_art}}" alt="photo">

            <form action="delete_work" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value={{d.id}}>
                <button class="btn btn-danger mt-3" type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="work_page" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-6 mt-5">
                    <label for="">Title</label>
                    <input class="form-control" type="text" name="title" placeholder="Enter title" required>
                </div>
                <div class="col-lg-6 mt-5">
                    <label for="">Artist</label>
                    <input class="form-control" type="text" name="artist" placeholder="Enter artist name" required>
                </div>
                <div class="col-lg-6 mt-5">
                    <label for="">Audio file</label>
                    <input class="form-control" type="file" name="audio">
                </div>
                <div class="col-lg-6 mt-5">
                    <label for="">Album art</label>
                    <input class="form-control" type="file" name="album_art"><br>
                    <input class="btn btn-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock admin %}